/* Google Font Imports */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');


@media(max-width: 594px){
  .header-container h1 {
    font-size: 4rem;
  }
}

.header-container h1 span {
  color: #fff
}
h4 {
  font-weight: 200
}

.contact-form {
  background-image: url(https://images.ctfassets.net/srdtyetm50fi/15hs6cfLh9sQdmrdWweGyp/d2cd24d10ee35ae46f350d1935f74e9a/contact-us.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  width: 70%;
  display: grid;
  margin: 0 auto
}

#section07 span {
  position: absolute;
  top: 145%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 span:nth-of-type(2) {
  top: 150%;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 span:nth-of-type(3) {
  top: 155%;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
